<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">{{#if user}}  {{user.username}}  {{else}} Account {{/if}}</a>
        </li>
        <li class="nav-item">
          {{#if user}}
          <a class="nav-link" href="/logout">Log out</a>
          {{else}}
              <a class="nav-link" href="/login">Log in</a>
              {{/if}}
        </li>
       
      </ul>
    </div>
  </div>
</nav>
</header>
     <section>
     
        <div class="container-fluid">
            <div class="container">
            <div class="row  mt-5">
                {{#each products}}
            <div class="col-md-3 ">
                <div class="card" style="width: 15rem; height: 25rem;">
  <img class="card-img-top" src="{{this.image}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{this.name}}</h5>
    <p class="card-text">{{this.descreption}}.</p>
    <a href="#" class="btn btn-primary">Add to favoraite</a>
  </div>
</div>
            </div>
            {{/each}}
        </div>
        </div>
        </div>
    </section>